
/* ARCHIVO NARROW */
@font-face {
  font-family: 'ArchivoNarrow';
  src: url('./Fonts/ArchivoNarrow/ArchivoNarrow-Regular.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-Bold.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-BoldItalic.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-Italic.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-Medium.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-MediumItalic.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-SemiBold.ttf') format('truetype'),
       url('./Fonts/ArchivoNarrow/ArchivoNarrow-SemiBoldItalic.ttf') format('truetype'),
}

/* OXYGEN MONO */
@font-face {
  font-family: 'OxygenMono';
  src: url('./Fonts/OxygenMono/OxygenMono-Regular.ttf') format('truetype')
}

/* BODY STYLES */
body {
    /* background-color: #0E1514; background color */
    font-family: 'OxygenMono';
    color: #E0E2DB; 
}

/* PROJECTS LINKS STYLES */
.projects-list {
  list-style-type: none;
}
.projects-list-text {
    text-decoration: none; 
    color: #E0E2DB; 
    transition: color 1s ease; 
    font-size: 40pt;
    position: 'fixed';
}

.projects-list-text:visited {
    color: #E0E2DB; /* Set the desired visited link color */
}

.projects-list-text:hover {
  color: #49565E; /* Text color when hovered */
}


/* GRAIN OVERLAY */
.grain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Images/home/noise_texture.png');
    opacity: 0.04; /* Adjust the opacity for a subtle effect */
    pointer-events: none; /* Prevent interaction with the overlay */
    z-index: 9999; /* Ensure the overlay is on top of other elements */
}


/* NAV BAR STYLES */
.navigation-bar {
  position: fixed;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 1000;
}

.navigation-bar:hover {
  transition: color 1s ease;
  color: #49565E;
}

.navigation-bar a {
  color:  #BEB7A4;
  transition: color 1s ease; 
  text-decoration: none;
  margin: 0;
  list-style-position: inside;
  font-size: 20pt;
}

.navigation-bar ul li a:hover {
  color:  #BEB7A4;
  text-decoration: none;
  margin: 0;
  list-style-position: inside;
}
/* NAV BAR LINE */
.navigation-bar-line {
  height: 100%;
  width: '200px';
  border-left: 200px solid #E0E2DB;
  padding: '10px';
}

/* NAV BAR LINKS */
.navigation-bar-text {
  font-size: 20pt;
  text-decoration: none;
}

.navigation-bar-text:visited {
  color: #E0E2DB; /* Set the desired visited link color */
}

.navigation-bar-text:hover {
color: #49565E; /* Text color when hovered */
}

/* NAV BAR LINKS 2*/
.navigation-bar-text-2 {
  font-size: 20pt;
  text-decoration: none;
  bottom: 0;
  position: fixed;
  color: #49565E;
  padding-left: 10px;
  padding-bottom: 10px;
}


/* PAGE TRANSITION ANIMATION CSS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* STYLING ALL OTHER LINKS ON THE WEB PAGE */
a:not(.navigation-bar a):not(.projects-list-text) {
  /* Apply styles to all links except those within the navigation bar */
  text-decoration: none; 
  color: #E0E2DB; 
  transition: color 1s ease;
}

a:not(.navigation-bar a):hover:not(.projects-list-text):hover {
  /* Apply hover styles to all links except those within the navigation bar */
  color: #F0A202; 
  transition: color 1s ease;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

